body {
    background: #fafafa;
    color: #111111;
    font-weight: 300;
    font-family: 'Oxygen', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 15px 0px;
    color: #555555;
}

pre {
    font-size: 0.7em;
}

table {
    margin-bottom: 20px;
    border-collapse: collapse;
}

table th {
    padding: 0.6em;
    color: rgba(0,0,0,0.75);
    border:1px solid #dddddd;
}

table td {
    padding: 0.4em 1em 0.4em 1.15em;
    font-size: 0.9em;
    border:1px solid #dddddd;
}

.nomargin-left, .nomargin-left a {
    margin: 10px 10px 10px 0px;
}

#content {
    margin-left: 300px;
    padding-top: 50px;
    margin-right: 100px;
}

a {
    color: #4682B4;
    text-decoration: none;
    white-space: nowrap;
}

a:hover {
    text-decoration: underline;
}

.small-footer {
    font-size: 10pt;
    text-align: right;
    padding: 0px 100px 10px 0px;
}

.screenshot_float {
    float: right;
}

.nav {
    margin: 50px 50px 50px 50px;
}

.nav a {
    display: block;
    margin: 10px 10px 10px 10px;
}
