body {
    background: #e5e5e5;
}

div.part {
    margin: 10px 15px 10px 15px;
    padding: 10px;
    background: white;
    font-family: 'Fauna One', serif;
}

h4 {
    margin: 0px 0px 15px 0px;
    color: #555555;
}

pre {
    font-size: 0.7em;
}

.flat-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.flat-table th, .flat-table td {
    box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
}

.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 0.6em;
    color: rgba(0,0,0,0.75);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 0.7em;
}

.flat-table td {
		/*color: #f7f7f7;*/
    padding: 0.4em 1em 0.4em 1.15em;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    font-size: 0.7em;
}

.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.flat-table-1 {
    background: #336ca6;
}

.flat-table-1 tr:hover {
    background: rgba(0,0,0,0.19);
}

.flat-table-2 tr:hover {
    background: rgba(0,0,0,0.1);
}

.flat-table-2 {
    background: #f06060;
}

.flat-table-3 {
    background: #ddffeb;
}

.flat-table-3 tr:hover {
    background: rgba(0,0,0,0.1);
}

.cov tr {
    background: #eaeaea;
}

.cov td {
    background: #f9f9f9;
}

.cov-hit, .cov-hit td {
    background: #adffa4 !important;
}

.cov-miss, .cov-miss td {
    background: #ffafa4 !important;
}

.cov-half, .cov-half td {
    background: #fffea4 !important;
}

.cov-invalid, .cov-invalid td {
}

.cov td {
    min-width: 200px;
}

.cov-miss th, .cov-hit th, .cov-half th {
    text-align: left;
}

.cov td.small {
    min-width: 40px;
}

.cov td.medium {
    min-width: 90px;
}

.cov td:hover, .cov tr:hover td {
    background: rgba(0,0,0,0.02) !important;
}

.number {
    text-align: right;
}

.cov-hit a, .cov-miss a, .cov-half a {
    text-decoration: none;
    color: black;
    padding: 0px 30px 0px 20px;
}

.simpletext {
    margin: 0px 50px 50px 50px;
}

.simplelist {
    margin: 50px 50px 50px 50px;
}

.simplelist a {
    display: block;
    margin: 10px 10px 10px 10px;
}

.nomargin-left, .nomargin-left a {
    margin: 10px 10px 10px 0px;
}

#content {
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 100px;
}

a {
    color: #4682B4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

