<div class="nav">
	<a class="logo" href="/"><img src="/img/knot3-white.png" style="width: 200px; height: 94px;" /></a>
	<br />
	<a href="{{site.baseurl}}index.html">About</a>
	<a href="{{site.baseurl}}download.html">Download</a>
	<a href="{{site.baseurl}}tutorial.html">Spielanleitung</a>
	<a href="https://github.com/knot3/knot3-code">GitHub</a>
	<a href="{{site.baseurl}}license.html">License</a>
	<a href="{{site.baseurl}}contact.html">Contact</a>
	<br />
	<a href="{{site.baseurl}}doc/html/inherits.html">Code Documentation</a>
	<a href="{{site.baseurl}}development/coverage.php">Code Coverage</a>
</div>
