
<div class="simplelist nomargin-left" style="position: absolute; top: 20px; left: 50px; margin: 0px;">
 <a href="/"><img src="/img/knot3-white.png" style="width: 222px; height: 103px;" /></a>
 <br />
	<a href="{{site.baseurl}}/download">Download</a>
	<a href="{{site.baseurl}}/license.html">License</a>
	<a href="https://github.com/pse-knot/knot3-code">GitHub</a>
	<a href="/doc/Spielanleitung.pdf">Spielanleitung</a>
	<a href="/doc/html/inherits.html">Code Documentation</a>
	<a href="/development/coverage.php">Code Coverage</a>
</div>
