---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
    <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/knot.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/gh-fork-ribbon.css">
  </head>
  <body>
  <header>
    {% include header.html %}
  </header>
  <nav>
    {% include navigation.html %}
  </nav>
  <article id="content" class="simplelist">
    {{ content }}
  </article>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>
