---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/knot.css">

<!-- START COPYING HERE -->
<link rel="stylesheet" href="/css/gh-fork-ribbon.css">
<!-- END COPYING HERE -->

  </head>
  <body>
  <header>
    {% include header.html %}
  </header>
  <nav>
    {% include navigation.html %}
  </nav>
  <article id="content" class="simplelist">
    {{ content }}
  </article>
  <footer>
    {% include footer.html %}
  </footer>
</body>
</html>
