---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/knot.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/footer.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/pygments.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/gh-fork-ribbon.css">
  </head>
  <body>
  <div id="wrapper">
    <header>
      {% include header.html %}
    </header>
    <nav>
      {% include navigation.html %}
    </nav>
    <article id="content">
      {{ content }}
    </article>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
</body>
</html>
